 <!DOCTYPE html>
<html>
  <head>
    <title>Blog Post</title>
  </head>
<body>
    <h1><%= @post.name %></h2>
    <p> <%= @post.content %></p>
  <br>

<h1>Heroes</h1>
<% @heroes.each do |hero| %>
  <h3>Hero Name: <%= hero.name %></h3>
  <h4>Hero Power: <%= hero.power %></h4>
  <h4>Hero Biography: <%= hero.bio %></h4>
  <br>
  <% end %>
 

  <form method="post" action="/models/<%= @model.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
 </body>
</html>